
<div class="card text-center" style="background-color: green">
    <div class="card-header">
        <h2 style="color:white;">There doesn't appear to be any new articles. Please check back Later!</h2>
    </div>
</div>