<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-1" style="font-weight:bold" >The Washington Post Article Scraper</h1>
    <p class="lead">Scraping the latest articles from The Washington Post!</p>
  </div>
</div>